.about-box{
background:#112240;
padding:50px;
border-radius:12px;
line-height:1.9;
font-size:18px;
box-shadow:0 15px 40px rgba(0,0,0,.2);
transition:.3s;
}

.about-box:hover{
transform:translateY(-10px);
}

.about-box span{
color:#64FFDA;
font-weight:bold;
}